.board {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.boardCell {
  width: 98px;
  height: 98px;
  border: 1px solid grey;
  font-size: 80px;
  text-align: center;
}

.results {
  margin-top: 20px;
}
